.activeSun {
    color: #626262 !important;
    background-color: white !important;
}

.activeSun:hover,
.activeSun:focus {
    background-color: #F1F1F1 !important;
}

.activeMoon {
    color: white;
    background-color: #282828 !important;
}

.activeMoon:hover,
.activeMoon:focus {
    background-color: #282828 !important;
}

.inactiveSun {
    color: #A8A8A8 !important;
}

.inactiveSun:hover,
.inactiveSun:focus {
    background-color: #282828 !important;
}

.inactiveMoon {
    color: #A8A8A8 !important
}

.inactiveMoon:hover,
.inactiveMoon:focus {
    background-color: #F1F1F1 !important;
}